version: "3.8"

services:

  inventory-service:
    build: ./inventory-service
    container_name: inventory-service
    ports:
      - "8082:8082"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      APP_SECURITY_API_KEY: inventory-secret-key

  payment-service:
    build: ./payment-service
    container_name: payment-service
    ports:
      - "8083:8083"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      APP_SECURITY_API_KEY: payment-secret-key

  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "8081:8081"
    depends_on:
      - inventory-service
      - payment-service
    environment:
      SPRING_PROFILES_ACTIVE: docker
      INVENTORY_SERVICE_URL: http://inventory-service:8082
      PAYMENT_SERVICE_URL: http://payment-service:8083
      INVENTORY_API_KEY: inventory-secret-key
