server:
  port: 8081

spring:
  application:
    name: order-service

  datasource:
    url: jdbc:h2:mem:orderdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

app:
  security:
    api-key: order-secret-key

inventory:
  service:
    url: ${INVENTORY_SERVICE_URL:http://localhost:8082}
  api-key: inventory-secret-key

payment:
  service:
    url: ${PAYMENT_SERVICE_URL:http://localhost:8083}
  api-key: payment-secret-key

resilience4j:
  circuitbreaker:
    instances:
      inventoryService:
        slidingWindowSize: 5
        minimumNumberOfCalls: 3
        failureRateThreshold: 50
        waitDurationInOpenState: 10s

      paymentService:
        slidingWindowSize: 5
        minimumNumberOfCalls: 3
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
